<div class="container">
  <p style="color: green"><%= notice %></p>
  <legend>Editing user</legend>
  <%= render "form", user: @user %>
  <br>
  <div>
    <%= link_to "Back to users", users_path %>
  </div>
</div>