<div id="<%= dom_id product %>">
  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= product.content %>
  </p>
  
  <p>
    <% if product.sold %>
     <p>Sold!</p>
    <% end %>
  </p>

  <p>
    <% if product.published %>
     <p>Published!</p>
    <% end %>
  </p>

</div>
