<div id="products", class="container">
<p style="color: green"><%= notice %></p>
  <%= link_to "New product", new_product_path, class: "btn btn-outline-primary mr-2" %>
  <br>
  <% @products.each do |product| %>
    <p>
      <%= render product %>
      <%= link_to "Show this product", product %>
    </p>
  <% end %>
</div>